[Unit]
Description=Elrond Node (port ---NODE_INSTANCE_PORT---)
After=network.target

[Service]
Type=simple
Environment=GOPATH=/home/---USER---/go
WorkingDirectory=---NODE_INSTANCE_PATH---
ExecStart=/bin/bash -lc './node --use-log-view --rest-api-interface ---NODE_INSTANCE_PORT---'
User=---USER---
Group=---USER---
UMask=0002

LimitNOFILE=4096
LimitNPROC=4096

RestartSec=1
Restart=always

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=Elrond ---NODE_INSTANCE_PORT---

[Install]
WantedBy=multi-user.target
